@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #00b207;
  --color-badgeone: #ea4b48;
  --color-badgetwo: #2388ff;
  --color-gry: #f2f2f2;
  --text-hsize: 32px;
  --font-pop: "Poppins", sans-serif;
}

/* ===leftBannerSwiper css==== */
.prev-arrow {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 111;
}
.next-arrow {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 111;
}
.swiper-button-disabled {
  background: gray;
  cursor: not-allowed;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #e6e6e6;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #00b207;
}
.swiper-pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.swiper-scrollbar {
  opacity: 0;
  transition-duration: 400ms;
  height: 10px;
  background: rgb(83, 105, 38);
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  border-radius: 50px;
}
.swiper-scrollbar-drag {
  background: rgb(182, 219, 193);
  height: 10px !important;
  border-radius: 50px;
}

.swiper-button-disabled {
  background: #e6e6e6 !important;
  color: #999 !important;
  cursor: not-allowed;
}

/* ===rightBannerSwiper css==== */
.rightBannerSwiper {
  height: 288px;
}

.rightBannerSwiper .swiper-pagination {
  right: 10px !important;
  left: auto !important;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rightBannerSwiper .swiper-pagination-bullet {
  margin: 0 !important;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

.logo-img {
  filter: grayscale(1) opacity(0.6);
  transition: filter 0.3s ease;
}

.logo-img:hover {
  filter: invert(53%) sepia(90%) saturate(1734%) hue-rotate(83deg)
    brightness(94%) contrast(101%);
}
