@import "tailwindcss";

@theme {
  --color-primary: #00B207;
  --color-badgeone: #EA4B48;
  --color-badgetwo: #2388FF;
  --color-gry: #F2F2F2;
  --text-hsize: 32px;
  --font-pop: "Poppins", sans-serif; 

}